html, body {
    overflow-y: visible;
  -webkit-user-select: text;
}
.rule-level1 {
  padding-left:0px;
}
.rule-level2 {
  padding-left:5px;
}
.rule-level3 {
  padding-left:10px;
}
.rule-level4 {
  padding-left:15px;
}
.rule-level5 {
  padding-left:20px;
}
.rule-level6 {
  padding-left:25px;
}
.rule-level7 {
  padding-left:30px;
}
.search-word {
  font-size:x-large;
  background-color:#ccff99;
}
.normal-paragraph:before {
  content:'　';
}

#loading {
}
#indexes {
  display:none;
}
#rules {
  display:none;
}
#search {
  display:none;
}

.searchBox {
  margin-top: 20px;
  margin-bottom: 20px;
}
.searchInputBox {
  width: 85%;
  max-width:300px;
}
.searchButton {
  padding:0;
}